#1
#1/Activities
#1/Activities/05_Intro_CMD
#1/Activities/05_Intro_CMD/Solved
#1/Activities/05_Intro_CMD/Unsolved
#1/Activities/08_WMIC_OS
#1/Activities/08_WMIC_OS/Solved
#1/Activities/08_WMIC_OS/Unsolved
#1/Activities/11_Users
#1/Activities/11_Users/Solved
#1/Activities/11_Users/Unsolved
#1/Activities/14_Create_User_Password_Policy
#1/Activities/14_Create_User_Password_Policy/Solved
#1/Activities/14_Create_User_Password_Policy/Unsolved
#1/Activities/16_Scheduling_Tasks
#1/Activities/16_Scheduling_Tasks/Solved
#1/Activities/16_Scheduling_Tasks/Unsolved
#1/Images
#1/Resources
#1/StudentGuide.md
#2
#2/Activities
#2/Activities/03_Move_and_Create_Dir
#2/Activities/03_Move_and_Create_Dir/Images
#2/Activities/03_Move_and_Create_Dir/Solved
#2/Activities/03_Move_and_Create_Dir/Unsolved
#2/Activities/06_Generating_Windows_Logs
#2/Activities/06_Generating_Windows_Logs/Solved
#2/Activities/06_Generating_Windows_Logs/Unsolved
#2/Activities/09_Removing_Packages
#2/Activities/09_Removing_Packages/Solved
#2/Activities/09_Removing_Packages/Unsolved
#2/Images
#2/Resources
#2/StudentGuide.md
#3
#3/Activities
#3/Activities/00_Windows_Lab
#3/Activities/04_Creating_OUs_Users_Groups
#3/Activities/04_Creating_OUs_Users_Groups/Solved
#3/Activities/04_Creating_OUs_Users_Groups/Unsolved
#3/Activities/08_Group_Policy_Objects
#3/Activities/08_Group_Policy_Objects/Solved
#3/Activities/08_Group_Policy_Objects/Unsolved
#3/Images
#3/StudentGuide.md
