#1
#1/Activities
#1/Activities/04_takefive
#1/Activities/04_takefive/solved
#1/Activities/04_takefive/unsolved
#1/Activities/07_milkway
#1/Activities/07_milkway/solved
#1/Activities/07_milkway/unsolved
#1/Activities/11_oh_henry
#1/Activities/11_oh_henry/solved
#1/Activities/11_oh_henry/unsolved
#1/Activities/14_kitcat
#1/Activities/14_kitcat/solved
#1/Activities/14_kitcat/unsolved
#1/Images
#1/Resources
#1/StudentGuide.md
2
2/Activities
2/Activities/02_warmup
2/Activities/02_warmup/solved
2/Activities/02_warmup/unsolved
2/Activities/06_learning_new_commands
2/Activities/06_learning_new_commands/solved
2/Activities/06_learning_new_commands/unsolved
2/Activities/09_finding_your_way
2/Activities/09_finding_your_way/solved
2/Activities/09_finding_your_way/unsolved
2/Activities/13_grep_activity
2/Activities/13_grep_activity/solved
2/Activities/13_grep_activity/unsolved
2/Activities/16_Gathering_Evidence
2/Activities/16_Gathering_Evidence/solved
2/Activities/16_Gathering_Evidence/unsolved
2/Resources
3
3/Activities
3/Activities/02_warmup
3/Activities/02_warmup/solved
3/Activities/02_warmup/unsolved
3/Activities/06_sed_activity
3/Activities/06_sed_activity/solved
3/Activities/06_sed_activity/unsolved
3/Activities/09_awk_activity
3/Activities/09_awk_activity/solved
3/Activities/09_awk_activity/unsolved
3/Activities/14_shell_scripting
3/Activities/14_shell_scripting/solved
3/Activities/14_shell_scripting/unsolved
3/Activities/17_ip_lookup_activity
3/Activities/17_ip_lookup_activity/solved
3/Activities/17_ip_lookup_activity/unsolved
3/Images
3/Resources
