#1
#1/Activities
#1/Activities/07_Configuring_UFW
#1/Activities/07_Configuring_UFW/Solved
#1/Activities/07_Configuring_UFW/Unsolved
#1/Activities/10_Firewalld_Configuration
#1/Activities/10_Firewalld_Configuration/Solved
#1/Activities/10_Firewalld_Configuration/Unsolved
#1/Activities/13_Testing_Firewall_Rules_(NMAP)
#1/Activities/13_Testing_Firewall_Rules_(NMAP)/Solved
#1/Activities/13_Testing_Firewall_Rules_(NMAP)/Unsolved
#1/Images
#1/StudentGuide.md
#2
#2/Activities
#2/Activities/01_Security_Onion_Setup
#2/Activities/04_IDS_and_Snort
2/Activities/04_IDS_and_Snort/Solved
#2/Activities/04_IDS_and_Snort/Unsolved
#2/Activities/07_Security_Onion_NSM
2/Activities/07_Security_Onion_NSM/Solved
#2/Activities/07_Security_Onion_NSM/Unsolved
#2/Activities/11_(Alert)_FTP_File_Extraction
2/Activities/11_(Alert)_FTP_File_Extraction/Solved
#2/Activities/11_(Alert)_FTP_File_Extraction/Unsolved
#2/Activities/14_(Alert)_Executable_Download
2/Activities/14_(Alert)_Executable_Download/Solved
#2/Activities/14_(Alert)_Executable_Download/Unsolved
2/Images
2/StudentGuide.md
3
3/Activities
3/Activities/01_Security_Onion_Setup
3/Activities/04_C2_Beacon
3/Activities/04_C2_Beacon/Solved
3/Activities/04_C2_Beacon/Unsolved
3/Activities/06_Investigation_Analysis_and_Escalation
3/Activities/06_Investigation_Analysis_and_Escalation/Solved
3/Activities/06_Investigation_Analysis_and_Escalation/Unsolved
3/Activities/09_Threat_Hunting
3/Activities/09_Threat_Hunting/Unsolved
3/Images
3/Resources
3/StudentGuide.md
