#1
#1/Activities
#1/Activities/04_HTTP_Requests_Responses
#1/Activities/04_HTTP_Requests_Responses/Solved
#1/Activities/04_HTTP_Requests_Responses/Unsolved
#1/Activities/07_Dev_Tools
#1/Activities/07_Dev_Tools/Solved
#1/Activities/07_Dev_Tools/Unsolved
#1/Activities/11_Using_cURL
#1/Activities/11_Using_cURL/Solved
#1/Activities/11_Using_cURL/Unsolved
#1/Activities/14_Swapping_Sessions
#1/Activities/14_Swapping_Sessions/Unsolved
#1/Activities/15_Cookie_Jar
#1/Activities/15_Cookie_Jar/Solved
#1/Activities/15_Cookie_Jar/Unsolved
#1/Images
#1/Resources
#1/StudentGuide.md
#2
#2/Activities
#2/Activities/03_Monolith_to_Microservices
#2/Activities/03_Monolith_to_Microservices/Solved
#2/Activities/03_Monolith_to_Microservices/Unsolved
#2/Activities/07_Docker_Compose
#2/Activities/07_Docker_Compose/demo
#2/Activities/07_Docker_Compose/Solved
#2/Activities/07_Docker_Compose/Unsolved
#2/Activities/11_Database_Management
#2/Activities/11_Database_Management/Solved
#2/Activities/11_Database_Management/Unsolved
#2/Images
#2/Resources
#2/StudentGuide.md
