#1
#1/Activities
#1/Activities/04_Virtual_Networking
#1/Activities/04_Virtual_Networking/Solved
#1/Activities/04_Virtual_Networking/Unsolved
#1/Activities/09_Security_Groups
#1/Activities/09_Security_Groups/Solved
#1/Activities/09_Security_Groups/Unsolved
#1/Activities/12_Virtual_Computing
#1/Activities/12_Virtual_Computing/Solved
#1/Activities/12_Virtual_Computing/Unsolved
#1/Images
#1/Images/Avail_Set
#1/Images/azure_signup
#1/Images/regions-avail
#1/Images/resource_group
#1/Images/ResourceGroups
#1/Images/security_groups
#1/Images/Security-Group-Demo
#1/Images/virtual_net
#1/Images/VM
#1/Images/VM_admin
#1/Resources
#1/StudentGuide.md
#2
#2/Activities
#2/Activities/03_Cloud_Architecture
2/Activities/03_Cloud_Architecture/Solved
#2/Activities/03_Cloud_Architecture/Unsolved
#2/Activities/06_Jumpbox_Admin
2/Activities/06_Jumpbox_Admin/Solved
#2/Activities/06_Jumpbox_Admin/Unsolved
#2/Activities/09_Containers
2/Activities/09_Containers/Solved
#2/Activities/09_Containers/Unsolved
#2/Activities/13_Provisioners
2/Activities/13_Provisioners/Solved
#2/Activities/13_Provisioners/Unsolved
2/Images
2/Images/Docker_Ansible
2/Images/infrastructure_architecture
2/Images/provisioner-setup
2/Images/SSH-Jump
2/Images/web-reset-ssh
2/StudentGuide.md
3
3/Activities
3/Activities/03_Ansible_Playbooks
3/Activities/03_Ansible_Playbooks/Solved
3/Activities/03_Ansible_Playbooks/Unsolved
3/Activities/06_Load_Balancing
3/Activities/06_Load_Balancing/Solved
3/Activities/06_Load_Balancing/Unsolved
3/Activities/09_Security_Configuration
3/Activities/09_Security_Configuration/Solved
3/Activities/09_Security_Configuration/Unsolved
3/Activities/13_Redundancy
3/Activities/13_Redundancy/Solved
3/Activities/13_Redundancy/Unsolved
3/Images
3/Images/HTTP-SG
3/Images/Load-Balancer
3/Images/new-VM
3/Images/Redundancy
3/StudentGuide.md
4
4/Activities
4/Activities/03_Redundancy_Testing
4/Activities/03_Redundancy_Testing/Solved
4/Activities/03_Redundancy_Testing/Unsolved
4/Activities/07_HW_Cloud_Security
4/Activities/07_HW_Cloud_Security/Unsolved
4/Activities/08_Hostname_Vuln
4/Activities/08_Hostname_Vuln/Images
4/Activities/08_Hostname_Vuln/Solved
4/Activities/08_Hostname_Vuln/Unsolved
4/Activities/10_HW_Cloud_Security
4/Activities/10_HW_Cloud_Security/Images
4/Activities/10_HW_Cloud_Security/Solved
4/Activities/10_HW_Cloud_Security/Unsolved
4/Images
4/Images/dvwa
4/StudentGuide.md
Complete-Cloud-Walkthrough.md
Resources
