#1
#1/Activities
#1/Activities/02_Compound_Commands
#1/Activities/02_Compound_Commands/Solved
#1/Activities/02_Compound_Commands/Unsolved
#1/Activities/05_Creating_Aliases
#1/Activities/05_Creating_Aliases/Solved
#1/Activities/05_Creating_Aliases/Unsolved
#1/Activities/09_First_Bash_Script
#1/Activities/09_First_Bash_Script/Solved
#1/Activities/09_First_Bash_Script/Unsolved
#1/Activities/09_STU_First_Bash_Script
#1/Activities/09_STU_First_Bash_Script/Solved
#1/Activities/12_Custom_Commands
#1/Activities/12_Custom_Commands/Solved
#1/Activities/12_Custom_Commands/Unsolved
#1/Images
#1/StudentGuide.md
#2
#2/Activities
#2/Activities/02_INS_SCRIPT_PICKAPART
#2/Activities/02_INS_SCRIPT_PICKAPART/Resources
#2/Activities/03_STU_Var_and_if
#2/Activities/03_STU_Var_and_if/Solved
#2/Activities/03_STU_Var_and_if/Unsolved
#2/Activities/05_INS_Lists_and_loops
#2/Activities/06_STU_Lists_and_Loops
#2/Activities/06_STU_Lists_and_Loops/Solved
#2/Activities/06_STU_Lists_and_Loops/Unsolved
#2/Activities/08_INS_Useful_Loops
#2/Activities/09_STU_Useful_Loops
#2/Activities/09_STU_Useful_Loops/Solved
#2/Activities/09_STU_Useful_Loops/Unsolved
#2/Activities/Supplemental
#2/StudentGuide.md
#3
#3/Activities
#3/Activities/02_Scavenger_Hunt
#3/Activities/02_Scavenger_Hunt/Solved
#3/Activities/02_Scavenger_Hunt/Unsolved
#3/Activities/0x_Arguments
#3/Activities/0x_Arguments/Solved
#3/Activities/0x_Arguments/Unsolved
#3/Activities/Images
