#1
#1/Activities
#1/Activities/03_Creating_Restoring_Backups
#1/Activities/03_Creating_Restoring_Backups/Solved
#1/Activities/03_Creating_Restoring_Backups/Unsolved
#1/Activities/06_Incremental_Restore
#1/Activities/06_Incremental_Restore/Solved
#1/Activities/06_Incremental_Restore/Unsolved
#1/Activities/10_Exploiting_Tar
#1/Activities/10_Exploiting_Tar/Resources
#1/Activities/10_Exploiting_Tar/Solved
#1/Activities/10_Exploiting_Tar/Unsolved
#1/Images
#1/StudentGuide.md
#2
#2/Activities
#2/Activities/03_Simple_Cronjobs
#2/Activities/03_Simple_Cronjobs/Solved
#2/Activities/03_Simple_Cronjobs/Unsolved
#2/Activities/06_Introduction_to_Scripts
#2/Activities/06_Introduction_to_Scripts/Solved
#2/Activities/06_Introduction_to_Scripts/Unsolved
#2/Activities/10_Scheduling_Backups_and_Cleanups
#2/Activities/10_Scheduling_Backups_and_Cleanups/Solved
#2/Activities/10_Scheduling_Backups_and_Cleanups/Unsolved
#2/Activities/13_Reviewing_Crons
#2/Activities/13_Reviewing_Crons/Solved
#2/Activities/13_Reviewing_Crons/Unsolved
#2/Images
#2/StudentGuide.md
#3
#3/Activities
#3/Activities/03_Log_Filtering
3/Activities/03_Log_Filtering/Solved
#3/Activities/03_Log_Filtering/Unsolved
#3/Activities/05_Log_Size_Management.md
3/Activities/05_Log_Size_Management.md/Solved
#3/Activities/05_Log_Size_Management.md/Unsolved
#3/Activities/09_Event_Monitor_Logging
3/Activities/09_Event_Monitor_Logging/Solved
#3/Activities/09_Event_Monitor_Logging/Unsolved
3/Images
3/StudentGuide.md
